.vertical-nav-container {
  background-color: #020203;
  flex-shrink: 0;
}

.vertical-nav {
  margin-top: 272px;
}

.vertical-nav__item {
  flex-direction: column;
  row-gap: 20px;
}

.vertical-nav-box {
  height: 64px;
  width: 64px;
  background-color: #fff;
}

.vertical-nav-box:hover {
  background-color: #FF0101;
  cursor: pointer;
}

.vertical-nav-box__icon svg {
  color: #FF0101;
}

.vertical-nav-box:hover .vertical-nav-box__icon svg {
  color: #fff;
}


.copiryght {
  margin-top: 247px;
  transform: rotate(-90deg);
}