.header {
  padding: 18px 90px 12px 34px;
  background-color: #020203;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 149px;
  max-width: 1317px;
}

.nav {
  flex-grow: 1;
  justify-content: space-between;
}

.nav__btn {
  display: none;
  padding: 8px 14px;
  background-color: white;
  border: 0;
  border-radius: 3px;
}

.nav__btn:hover {
  cursor: pointer;
  background-color: #FF0101;
}

.nav__btn:hover svg {
  cursor: pointer;
  color: white;
}

.nav__btn svg {
  margin-top: 3px;
  width: 1rem;
  color: #FF0101;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav__list li p:hover {
  cursor: pointer;
  color: #FF0101;
}

.nav--opened {
  position: absolute;
  padding: 16px;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #020203;
  z-index: 999;
  background-image: url(../../assets/images/perso-deco.webp);
  background-repeat: repeat;
  background-position: 0px 250px;
  background-size: 10%;
}

.nav--opened .nav__list {
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  row-gap: 32px;
  text-align: center;
}

@media(max-width: 1400px) {
  .header {
    padding-right: 45px;
  }
}

@media(max-width: 991px) {

  .nav__btn {
    display: block;
    margin-left: auto;
    z-index: 998;
  }
}

@media(max-width: 576px) {
  .header-container {
    column-gap: 0;
  }
}