.graph-score {
  padding-top: 35px;
  padding-bottom: 35px;
  height: 263px;
  min-width: 258px;
  position: relative;
}

.score-info {
  position: absolute;
  top: 43%;
  right: 34%;
  max-width: 5em;
  text-align: center;
}

.score-info span {
  font-size: 1.62rem;
  font-weight: 700;
}

.score-info p {
  font-size: 1rem;
  font-weight: 500;
}

/*** Media Queries ***/
@media(max-width: 1280px) {
  .score-info {
    top: 43%;
    right: 38.5%;
    max-width: 23%;
  }
}

@media(max-width: 992px) {
  .score-info {
    top: 43%;
    left: 44%;
    max-width: 12%;
  }
}

@media(max-width: 576px) {
  .score-info {
    top: 43%;
    left: 39%;
    max-width: 23%;
    width: 100%;
  }
}