.users-container {
  flex-grow: 1;
  padding: 68px 90px 86px 90px;
  min-height: 990px;
}

.users-body {
  max-width: 1126px;
  margin-bottom: 128px;
}

.users-heading {
  padding-top: 48px;
  padding-bottom: 96px;
}

.users {
  display: flex;
  justify-content: center;
  column-gap: 32px;
}

.users__pic img {
  height: 360px;
  width: 360px;
  border-radius: 100%;
  filter: grayscale(100%);
}

.users a:hover .users__pic img {
  filter: grayscale(0);
  transition: filter 0.5s ease-in-out;
}

.users a:hover p {
  color: #FF0101;
}

/*** Media Queries ***/
@media(max-width: 1400px) {
  .users-container {
    padding-right: 45px;
    padding-left: 45px;
  }

  .users-body {
    max-width: 100%;
  }
}

@media(max-width: 767px) {
  .users__pic img {
    height: 240px;
    width: 240px;
  }
}

@media(max-width: 576px) {
  .users {
    flex-direction: column;
    row-gap: 64px;
    text-align: center;
  }
}