body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #282D30;
}

.no--scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FF0101;
  font-weight: 500;
}

a.active {
  color: #FF0101;
  cursor: default;
}

/*** Colors ***/
.text--primary {
  color: #282D30;
}
.text--secondary {
  color: #FF0101;
}

.text--tiers {
  color: #74798C;
}

.text--quarts {
  color: #20253A;
}

.text--white {
  color: #fff;
}

/*** Containers ***/
.l-container--md {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.l-container--full {
  display: flex;
  width: 100%;
}

/*** Flex ***/
.flex {
  display: flex;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--center {
  justify-content: center;
}

.align-items--center {
  align-items: center;
}
/*** Txt ***/
.title--xl {
  font-size: 3rem;
  font-weight: 500;
}

.title--sm {
  font-size: 1.5rem;
  font-weight: 500;
}

.title--xs {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.title--xs-med {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.suptitle--lg {
  font-size: 0.94rem;
  font-weight: 500;
}

.suptitle--md {
  font-size: 0.87rem;
  font-weight: 500;
}

.suptitle {
  font-size: 0.75rem;
  font-weight: 500;
}
/*** Text align ***/
.text--center {
  text-align: center;
}

/*** Margins ***/
.ml--sm {
  margin-left: 20px;
}

.ml--md {
  margin-left: 30px;
}
.mb--xxl {
  margin-bottom: 80px;
}

.mb--xl {
  margin-bottom: 64px;
}

.mb--lg {
  margin-bottom: 40px;
}

.mb--md {
  margin-bottom: 24px;
}

.mb--xs {
  margin-bottom: 8px;
}

.mt--md {
  margin-top: 30px;
}

.mx--auto {
  margin: auto;
}

/*** Border radius ***/
.br--xs {
  border-radius: 6px;
}
/*** Themes ***/
.t--grey {
  background-color: #FBFBFB;
}